<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <p>{{ mars.nasa_title }}</p>
    <p>{{ mars.nasa_para }}</p>
    <h2>Featured Mars Image</h2>
    {{mars.image_url}}
    <img src="{{mars.image_url}}">
    <h3>Mars Facts:</h3>
    <table>{{ mars.facts_table }}</table>
    
    <h3>Mars Hemisphers</h3>
    <img src="{{ mars.valles_link }}">
    <img src="{{ mars.cerberus_link }}">
    <img src="{{ mars.schiaparelli_link }}">
    <img src="{{ mars.syrtis_link }}">
  </div>
  </div>
</body>

</html>

